# Ignore these directories:
results/
intermediate/

# Ignore temporary files:
*.tmp

# Ignore all files in the data/ directory
data/*

# Exclude the metadata file by prefixing it with an exclamation mark
!data/metadata.txt
